.container {
    width: 500px;
}

body {
    margin-top: 30px;
    display: flex;
    background: rgb(2, 75, 94);
    font-size: 18px;
    color: white;
   justify-content: center;
}
button {
    background: rgb(29, 143, 48);
    font-size: 18px;
    width: 200px;
}
#startMin, #startHorse, #finishHorse, #finishMin {
    font-size: 14px;
    margin-left: 10px;
}
#finishHorse {
    margin-left: 18px;
}